<h3>My todo's</h3>

<div *ngIf='message'>{{message}}</div>

<table border="1">

    <thead>
        <th>Description</th>
        <th>Target Date</th>
        <th>Is Completed?</th>
        <th>Update</th>
        <th>Delete</th>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todos">
            <td>{{todo.description}}</td>
            <td>{{todo.targetDate | date | uppercase}}</td>
            <td>{{todo.completed}}</td>
            <td><button (click)='updateTodo(todo.id)'>Update Todo</button></td>
            <td><button (click)='deleteTodo(todo.id)'>Delete Todo</button></td>
        </tr>
    </tbody>

</table>

<br>
<div>
    <button (click)="addTodo()">Add</button>
</div>
